{% extends 'base.html.twig' %}
{% block title%} Liste des utilisateurs{% endblock %}

{% block body %}
 {% if utilisateurs %}
    <table border="1">
      <thead>
        <tr>
          <th>Nom</th> <th>email</th> <th>role</th>
        </tr>
      </thead>
      <tbody>
        {% for utilisateur in utilisateurs %}
        <tr> 
          <td>{{ utilisateur.nom }}</td> <td>{{ utilisateur.email }}</td> <td>{{ utilisateur.role }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun utilisateur</p>
  {% endif %} 
{% endblock %}